/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

#main_map {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 600px;
}
#ubication {
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}
